*{
    position: relative;
    text-align: center;
}
.calculator
{
    position: absolute;
    background-color: rgb(203, 200, 200);
    height : 420px;
    width: 280px;
    left: 40%;
}
.enter
{
    margin:8%;
    width:230px;
    height: 40px;
}
.box
{
    padding-top: 30px;
    padding: 20px;
    background-color:ffff;
    display: grid;
    grid-gap:5px;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid: 20px 20px;
    position: relative;
    font-size: 25px;
}
.box>div
{
    width:50px;
    height:45px;
    border: 1px solid ffff;
    border-radius: 10px;
    text-align: center;

}
.box1
{
    background-color: rgb(244, 243, 242);
}
.box2
{
    background-color: rgb(244, 243, 242);
}
.box3
{
    background-color: rgb(244, 243, 242);  
} 
.box4
{
    background-color: black;
    -webkit-text-fill-color: white;
}
.box5
{
    background-color: rgb(244, 243, 242);
}
.box6
{
    background-color: rgb(244, 243, 242);
}
.box7
{
    width:65px;
    height:45px;
    background-color: rgb(244, 243, 242);
}
.box8
{
    background-color: black;
    -webkit-text-fill-color: white;
}
.box9
{
    background-color: rgb(244, 243, 242);
}
.box10
{
    background-color: rgb(244, 243, 242);
}
.box11
{
    background-color: rgb(244, 243, 242);
}
.box12
{
    background-color: black;
    -webkit-text-fill-color: white;
}
.box13
{
    background-color: rgb(244, 243, 242);
}
.box14
{
    background-color: rgb(244, 243, 242);
}
.box15
{
    background-color: rgb(244, 243, 242);
}
.box16
{
    background-color: black;
    -webkit-text-fill-color: white;
}
.box17
{
    background-color: red;
}
.box18
{
    background-color: red;
}
.box19
{
    background-color: rgb(244, 243, 242);
}
.box20
{
    background-color: black;
    -webkit-text-fill-color: white;
}
